*{
    padding: 0px;
margin: 0px;
    box-sizing: border-box;
}
h2{
    font-family: "Bodoni Moda";
    font-weight: 90;
    text-align: center;
}
body{
    background-image: url(../assets/Alinurzadabg/1.png);
    background-attachment: fixed;
}

nav{
    height: 50px;
    width: 100%;
    background-color: #385170;

}
nav ul{
    display: flex;
    height: 50px;
    gap: 3%;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: #9bc7fd;
}
.MainPage{
    background: url(../assets/Alinurzadabg/Alinurzadabgv2.png);
    height: 650px;
    background-size: cover;
    background-position:center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.MainPage{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MainPage .Name h1{
    text-align: center;
    font-size: 4.5em;
    font-family: "Bodoni Moda", serif;
    font-weight: 600;

}
.MainPage .Name p{
    font-size: 1.5em;
    text-align: center;
    font-family: "Italiana", sans-serif;
    font-weight: 600;
}


.MainPage .Social img{
    width: 30px;
}
.MainPage .Social ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
    list-style-type: none;
}

.About{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}
.About img{
    width: 200px;
    border-radius: 75%;
}
.About-Container{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.About-Container .Information{
    width: 50%;
    word-spacing: 5px;
    
    
}

@media (min-width:1200px){

}

@media (max-width:1199px) and (min-width:992px){

}
@media(min-width:768px) and (max-width:991px){
nav ul{
    gap: 15%;
}
}
@media (min-width:577px) and (max-width : 767px){
nav ul{
    gap:12%;
}
}
@media (max-width:576px){
    .MainPage{
        height: 850px;
    }

    .About-Container .Information{
        width: 70%;
        word-spacing: 5px;
        
        
    }
    nav ul{
        gap: 7%;
    }
}
